{% extends 'Corexd/base.html' %}

{% block title %}Contacto{% endblock %} 

{% block background %}{% load static %}{% static 'Corexd/img/Contact-bg.jpg' %}{% endblock %}

{% block headers %}
   <h1>Contacto</h1>
   <span class="subheading">Asesoría</span>   
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Este sitio web tiene como finalidad dar a conocer todos los factores llevados a cabo en la materia de Desarrollo de Sistemas de Informacion, si tiene dudas respecto a
          este sitio web cuenta con los datos en la parte inferior a este mensaje.</p>
          <br>
          <p><b>Teléfono:</b> Dentro del Ecuador +0982601487 y fuera de el +593 0982601487</p>
          <p><b>Honorarios:</b> 30$/h (precio base)</p>
           <p><b>Correo:</b> fjoaquin205@gmail.com </p>
        </div>
      </div>
    </div>
{% endblock %}
